<!DOCTYPE html>
<html ng-app="garagem">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">-->
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-input-masks/angular-input-masks-standalone.min.js"></script>
    <script src="lib/angular-password/angular-password.min.js"></script>
    <script src="js/i18n/angular-locale_pt-br.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- Services -->
    <script src="js/service/DatabaseService.js"></script>
    <script src="js/service/ClientService.js"></script>
    <script src="js/service/SolrService.js"></script>
    <script src="js/service/PhotoService.js"></script>
    <script src="js/service/ProductService.js"></script>

    <!-- Controllers -->
    <script src="js/controller/OptionsController.js"></script>
    <script src="js/controller/HomeController.js"></script>
    <script src="js/controller/SigninController.js"></script>
    <script src="js/controller/SignupController.js"></script>
    <script src="js/controller/LoggedHomeController.js"></script>
    <script src="js/controller/MyGarageController.js"></script>
    <script src="js/controller/PhotoController.js"></script>
    <script src="js/controller/ProductCategoryControlller.js"></script>
    <script src="js/controller/ProductInfoControlller.js"></script>
</head>
<body>

<ion-nav-bar class="bar-garagem nav-title-slide-ios7" align-title="center">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view class="slide-left-right"></ion-nav-view>

<script id="home.html" type="text/ng-template">
    <ion-view hide-nav-bar="true">
        <ion-content id="home" class="bg-garage text-shadow" scroll="false">
            <div id="home-container">
                <h1 id="logo">Garagem da Men's</h1>

                <p class="description">
                    Aqui você vende e compra produtos novos e usados por um preço camarada
                </p>

                <div class="buttons fade" ng-show="!loggedIn" class="fade">
                    <button class="button button-block button-signin" ui-sref="signin" nav-transition="none">
                        Entrar na Garagem
                    </button>
                    <button class="button button-block button-signup" ui-sref="signup">
                        Criar uma conta
                    </button>
                </div>
                <p class="disclaimer fade" ng-show="!loggedIn">
                    * Somente para usuários cadastrados na Men's Market
                </p>
                <ion-spinner icon="ios" ng-show="loggedIn"></ion-spinner>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="signin.html" type="text/ng-template">
    <ion-view hide-nav-bar="true">
        <ion-content id="signin" class="bg-garage" scroll="false">
            <div id="signin-container">
                <h1 id="logo">Garagem da Men's</h1>

                <div ng-show="!loading">
                    <p class="description">
                        Entre com seu usuário e senha da Men's
                    </p>

                    <form ng-submit="signin(client)">
                        <input type="email" placeholder="E-mail" ng-trim="false" ng-model="client.email" name="email">
                        <input type="password" placeholder="Senha" ng-trim="false" ng-model="client.password"
                               name="password">
                        <button type="submit" class="button button-block button-signin">
                            Entrar na Garagem
                        </button>
                    </form>
                </div>

                <ion-spinner icon="ios" ng-show="loading"></ion-spinner>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="signup.html" type="text/ng-template">
    <ion-view>
        <ion-nav-title>Criar uma conta</ion-nav-title>

        <ion-content id="signup">
            <form name="signup" ng-submit="submit(client)" novalidate>
                <div id="signup-container" class="flex">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nome</span>
                            <input type="text" placeholder="Ex: João" ng-model="client.name" ng-trim="false"
                                   name="name" ng-required="true">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Sobrenome</span>
                            <input type="text" placeholder="Ex: Silva" ng-model="client.surname" ng-trim="false"
                                   name="surname" ng-required="true">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Senha</span>
                            <input type="password" placeholder="*******" ng-model="client.password" ng-trim="false"
                                   name="password"
                                   ng-required="true">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Confirmar senha</span>
                            <input type="password" match-password="password" placeholder="*******" ng-model="client.confirmPassword" ng-trim="false"
                                   name="confirmPassword"
                                   ng-required="true">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">E-mail</span>
                            <input type="text" placeholder="Ex: joao.silva@email.com" ng-model="client.email" ng-trim="false"
                                   name="email"
                                   ng-required="true">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">CPF</span>
                            <input type="text" placeholder="Ex: 000.000.000-00" ng-model="client.cpf" ng-trim="false" name="cpf"
                                   ng-required="true" ui-br-cpf-mask>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Data de nascimento</span>
                            <input type="text" placeholder="Ex: dd/mm/aaaa" ng-model="client.birth" ng-trim="false"
                                   name="birth"
                                   ng-required="true" ui-date-mask>
                        </label>
                    </div>
                    <button type="submit" class="button button-block button-positive" ng-disabled="signup.$invalid">
                        Criar conta
                    </button>
                </div>
            </form>
        </ion-content>
    </ion-view>
</script>

<script id="my-garage-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar class="hide">
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item ng-click="options.openInfo()">Informações</ion-item>
                <ion-item ng-click="options.logout()">Sair</ion-item>
            </ion-list>
        </ion-content>
    </ion-popover-view>
</script>

<script id="logged-home.html" type="text/ng-template">
    <ion-view hide-back-button="true" ng-controller="OptionsController as options">
        <ion-nav-title>
            <h1 id="logo-small">Garagem da Men's</h1>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button icon ion-more" ng-click="options.openMyGarageMenu($event)"></button>
        </ion-nav-buttons>

        <ion-content id="logged-home" scroll="false">
            <div id="logged-home-container" class="flex">
                <div class="box">
                    <div class="client-info">
                        <span class="client-photo" style="background-image:url({{client.image}})"></span>

                        <p ng-show="!loadingProductsCount">
                            Na Garagem do {{client.name}}<br>
                            <strong>{{forSaleProductsCount}} produto<span
                                    ng-show="forSaleProductsCount == 0 || forSaleProductsCount > 1">s</span></strong> à
                            venda
                        </p>
                    </div>
                </div>
                <a id="sell-option" ui-sref="product-photo" class="home-option box">
                    <div>
                        <h2>Quero vender</h2>
                        <span>Adicionar produtos</span>
                    </div>
                </a>
                <a id="my-garage-option" ui-sref="my-garage" class="home-option box">
                    <div>
                        <h2>Minha garagem</h2>
                        <span>Ver meus produtos</span>
                    </div>
                </a>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="my-garage.html" type="text/ng-template">
    <ion-view title="Minha Garagem">
        <ion-nav-title>Minha Garagem</ion-nav-title>

        <ion-content id="my-garage" scroll="false" class="flex padding">
            <div class="header box">
                <span class="client-photo" style="background-image:url({{client.image}})"></span>
                <span>Garagem do {{client.name}}</span>
            </div>
            <div class="nav box">
                <ul>
                    <li>
                        <a class="item" ng-class="{active: selectedTab == 'forSaleProducts'}"
                           ng-click="selectTab('forSaleProducts')">
                            <span class="count" ng-show="!loading">{{forSaleProducts.length}}</span>
                            <span class="count" ng-show="loading">0</span>
                            À venda
                        </a>
                    </li>
                    <li>
                        <a class="item" ng-class="{active: selectedTab == 'soldProducts'}"
                           ng-click="selectTab('soldProducts')">
                            <span class="count" ng-show="!loading">{{soldProducts.length}}</span>
                            <span class="count" ng-show="loading">0</span>
                            Vendidos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="products box">
                <ion-spinner icon="ios" ng-show="loading"></ion-spinner>
                <ion-scroll zooming="true" direction="y" ng-show="!loading">
                    <div class="for-sale-products" ng-show="selectedTab == 'forSaleProducts'">
                        <p ng-show="forSaleProducts.length == 0" class="alert-message">Você não possui produto à venda</p>

                        <div class="row">
                            <div class="product col col-50" ng-repeat="product in forSaleProducts">
                                <span class="image"
                                      style="background-image:url(https://v0.static.betalabs.com.br/uploads/gestao_ja/produto/produto_foto/thumb/178x178{{product.images[0]}})"></span>

                                <p class="name">{{product.name}}</p>
                                <span class="price">{{product.price | currency:"R$ "}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="sold-products" ng-show="selectedTab == 'soldProducts'">
                        <p ng-show="soldProducts.length == 0" class="alert-message">Nenhum produto foi vendido até o
                            momento</p>

                        <div class="row">
                            <div class="product col col-50" ng-repeat="product in soldProducts">
                                <span class="image"
                                      style="background-image:url(https://v0.static.betalabs.com.br/uploads/gestao_ja/produto/produto_foto/thumb/178x178{{product.images[0]}})"></span>

                                <p class="name">{{product.name}}</p>
                                <span class="price">{{product.price | currency:"R$ "}}</span>
                            </div>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="product-photo.html" type="text/ng-template">
    <ion-view title="Fotos">
        <ion-nav-buttons side="right">
            <button class="button" ng-if="allowToContinue" ng-click="continue()">OK</button>
        </ion-nav-buttons>
        <ion-content id="photo" class="padding">
            <ul id="photo-list" class="bar-footer row">
                <li class="col col-25" ng-repeat="(index, value) in images" ng-if="value != 'empty'">
                    <span class="placeholder" style="background-image:url({{value}})">
                        <!--IMAGE PLACEHOLDER-->
                        <button class="photo-remove button icon ion-close-circled"
                                ng-click="removePhoto({{$index}})"></button>
                    </span>
                </li>
                <li class="col col-25" ng-repeat="(index, value) in images" ng-if="value == 'empty'">
                    <span class="empty"></span>
                    <span class="placeholder">
                        <button class="photo-add button icon ion-plus-circled" ng-click="newPhoto()"></button>
                    </span>
                </li>
            </ul>
        </ion-content>
        <button class="button icon ion-camera" ng-click="getFromCamera()" ng-disabled="!allowNewPhotos">&nbsp;Câmera
        </button>
    </ion-view>
</script>

<script id="product-category.html" type="text/ng-template">
    <ion-view title="Categoria">
        <ion-nav-buttons side="right">
            <button class="button" ng-if="allowToContinue">OK</button>
        </ion-nav-buttons>
        <ion-content class="padding">
            <ion-list>
                <ion-item ng-repeat="(id, category) in categories" ng-click="showSubCategories({{id}})">
                    {{category.name}}
                    <span class="icon ion-ios-arrow-down pull-right"></span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</script>

<script id="subcategory-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">{{modalTitle}}</h1>

            <div class="button button-clear" ng-click="subCategoryModal.hide()"><span
                    class="icon ion-android-close"></span></div>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-radio ng-model="choice" ng-repeat="(id, category) in subCategories" ng-value="{{id}}"
                           ng-click="selectCategory({{id}})">
                    {{category.name}}
                </ion-radio>
            </ion-list>
        </ion-content>
    </ion-modal-view>
</script>

<script id="product-info.html" type="text/ng-template">
    <ion-view title="Informações">
        <ion-nav-buttons side="right">
            <button class="button" ng-if="allowToContinue">OK</button>
        </ion-nav-buttons>
        <ion-content id="product-info">
            <form name="info" ng-submit="submit(product)" novalidate>
                <ion-slide-box>
                    <ion-slide class="photo-slide" ng-repeat="(key, photo) in product.photos">
                        <div class="box">
                            <img src="{{photo}}" style="max-width: 100%">
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome</span>
                        <input type="text" placeholder="Ex: Celular Azul" ng-model="product.name" ng-trim="false"
                               name="name" ng-required="true">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Descrição</span>
                        <textarea placeholder="Ex: Produto bacana" ng-model="product.description" ng-trim="false"
                                  name="description" ng-required="true"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Preço</span>
                        <input type="text" placeholder="R$" ng-model="product.price" ng-trim="false" name="price"
                               ng-required="true" ui-money-mask>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Marca</span>
                        <input type="text" placeholder="Ex: Apple" ng-model="product.brand" ng-trim="false" name="brand"
                               ng-required="true">
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Condição</span>
                        <select ng-model="product.physicalCondition" ng-trim="false" name="physicalCondition"
                                ng-required="true">
                            <option value="NEW">Novo</option>
                            <option value="USED" selected>Usado</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Peso aproximado</span>
                        <input type="text" placeholder="Ex: 100g" ng-model="product.grossWeight"
                               ng-trim="false"
                               name="grossWeight" ng-required="true" ui-number-mask>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">CEP de Origem</span>
                        <input type="text" placeholder="Ex: 01001-001" ng-model="product.originZipCode"
                               ng-trim="false"
                               name="originZipCode" ng-required="true" ui-br-cep-mask>
                    </label>
                </div>
                <button type="submit" class="button button-block button-positive" ng-disabled="info.$invalid">
                    Continuar
                </button>
            </form>
        </ion-content>
    </ion-view>
</script>


</body>
</html>
