<ion-view>
    <ion-nav-title>Regras da Garagem</ion-nav-title>
    <ion-content id="rules" class="padding">
        <p class="header">
            <span class="logo"></span>
            Regras da Garagem
        </p>

        <p>- Os produtos que você for vender devem estar em bom estado de conservação, com poucas marcas de uso, e
            em perfeito funcionamento no caso de eletrônicos.</p>

        <p>- A Men's cobra uma comissão fixa de 20% sobre os produtos vendido. O frete para envio dos produtos
            vendidos será cobrado do comprador (você não pagará pelo envio), mas você será responsável pela
            postagem: assim que um produto seu for comprado, você receberá um email nosso com um código de
            autorização de postagem do produto nos Correios. Você só precisará levar o produto embalado numa agência
            e informar o código que te enviaremos.</p>

        <p>- O pagamento da sua venda será liberado 7 dias após confirmação de recebimento do produto pelo
            comprador, pois dentro desse período ele pode se arrepender de sua compra. Sempre que você tiver o valor
            mínimo de R$150 a receber da Men's, você pode solicitar seu pagamento gratuitamente. Para sacar valores
            abaixo desse valor, será cobrada uma taxa de transferência bancária de R$8.</p>

        <p class="footer">
            Mais dúvidas<br>
            Manda uma mensagem pra gente<br>
            <a href="mailto:garagem@mensmarket.com.br">garagem@mensmarket.com.br</a>
        </p>
    </ion-content>
</ion-view>