<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button icon ion-close-round" ui-sref="logged-home"></button>
    </ion-nav-buttons>
    <ion-nav-title>Produto enviado!</ion-nav-title>
    <ion-content id="success" scroll="false">
        <p class="header x-padding">
            <i class="ion-checkmark-circled"></i>
            <strong>Pronto! Seu produto foi cadastrado!</strong>
            <span>Agora ele passa por uma aprovação dos nossos especialistas mas, fica tranquilo, porque a gente te avisa assim que ele for liberado para venda.</span>
        </p>

        <p class="sell-more x-padding">
            Enquanto você espera, que tal vender mais produtos aqui na Garagem?
            <a ui-sref="product-photo" class="button button-block button-positive">Adicionar mais produtos</a>
        </p>

        <p class="garagem-tip text-center">
            Ah, não esquece: seu produto estará à venda no site<br>
            <a href="https://www.mensmarket.com.br/garagem-da-mens" target="_blank">www.mensmarket.com.br/garagem-da-mens</a>
        </p>
    </ion-content>
</ion-view>